<header>
    <div class="navbar">
        <div class="navbar__logo">
            <div class="navbar__logo-logo">
                <a (click)="pageTitle('HOME')" routerLink="/"><img class="logo-nav" src="assets/icons/logo-white.svg"
                        alt="logo"></a>
            </div>
        </div>
        <nav class="navbar__wrapper">
            <div class="figure"></div>
            <div></div>
            <div class="figure"></div>
            <div class="navbar__wrapper-item"><a (click)="pageTitle('Photos')" class="header-link"
                    routerLink="/photos">Photos</a></div>
            <div class="figure"></div>
            <div class="navbar__wrapper-item navbar__wrapper-item-project"><a (click)="pageTitle('Films')"
                    class="header-link" routerLink="/films">Films</a></div>
            <div class="figure"></div>
            <div class="navbar__wrapper-item"><a (click)="pageTitle('About')" class="header-link"
                    routerLink="/about">About</a></div>
            <div class="figure"></div>
            <div></div>

        </nav>
        <nav class="navbar__mobile">
            <!-- <i class="fas fa-bars fa-3x navbar__mobile-item"></i> -->
            <button class="hamburger hamburger--spin navbar__mobile-item" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </nav>
        <div class="navbar__header">
            <h1>GABRIELA POMETKOVA</h1>
        </div>
    </div>
    <div class="navbar__mobile-menu">
        <a (click)="pageTitle('Home')" routerLink="/" class="header-link">home</a>
        <a (click)="pageTitle('PHOTOS')" routerLink="/photos" class="header-link">projects</a>
        <a (click)="pageTitle('ABOUT')" routerLink="/about" class="header-link">about</a>
    </div>
</header>