<div class="container">
    <div class="about-main-contact fadeIn">
        <div class="about-main-contact-heading">
            <h4>Edit {{currentFilm.title}}</h4>
        </div>
        <form #editFilm='ngForm' (ngSubmit)='onSubmit(editFilm.value)'>
            <div class="form-primary">
                <input class="form-input-grey" name="title" ngModel type="text" placeholder="Title">
                <input class="form-input-grey" name="role" ngModel type="text" placeholder="role">
                <input class="form-input-grey" name="description" ngModel type="text" placeholder="Description">
                <input class="form-input-grey" name="imgURL" ngModel type="text" placeholder="imgURL">
            </div>
            <button class="btn">SEND</button>
        </form>
    </div>
</div>