<main class="about-main">

    <div class="about-main-heading fadeIn">
        <h2>ABOUT ME...</h2>
    </div>

    <div class="about-main-info fadeIn">
        <img class="about-main-info-img" src="{{about?.imgURL}}" alt="{{about?.name}}">

        <div class="about-main-info-text">
            <h4>{{about?.name}}</h4>
            <p>{{about?.description}}</p>
            <a *ngIf='isLoggedIn' class="btn-primary btn" routerLink='edit'>Edit</a>
        </div>
    </div>

    <div class="about-main-contact fadeIn">
        <div class="about-main-contact-heading">
            <h4>Get in touch here</h4>
        </div>
        <form class="about-main-contact-form" action="">
            <div>
                <input class="form-input-grey" type="text" placeholder="Name">
                <input class="form-input-grey" type="text" placeholder="e-mail">
            </div>
            <textarea class="form-input-grey message" placeholder="Message..."></textarea>
            <button type="submit" class="btn">SEND</button>
        </form>
    </div>

</main>