.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.form-input-grey {
    display: block;
}

h4 {
    color: white;
    text-align: center;
}

button:disabled {
    border: white 1px solid;
    cursor: not-allowed;

    &:hover {
        background-color: rgba(189, 17, 17, 0.678);
        color: white;
    }
}

.error {
    color: red;
    border: 1px solid red;
    border-radius: 6px;
    padding: 15px 20px;
    text-align: center;
    width: 410px;
    margin: 0 auto;
    font-size: 16px;
    cursor: default;
}