<div class="container">
    <div class="about-main-contact fadeIn">
        <div class="about-main-contact-heading">
            <h4>Edit Home Page Film</h4>
        </div>
        <form>
            <div class="form-primary">
                <input class="form-input-grey" type="text" placeholder="Name">
                <input class="form-input-grey" type="text" placeholder="Description">
                <input class="form-input-grey" type="text" placeholder="imgURL">
            </div>
            <button class="btn">SEND</button>
        </form>
    </div>
</div>