.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.form-input-grey {
    display: block;
}

h4 {
    color: white;
    text-align: center;
}