<div class="container">

    <div class="about-main-contact fadeIn">
        <div class="about-main-contact-heading">
            <h4>Add a Photo</h4>
        </div>
        <form #photoPost='ngForm' (ngSubmit)='onSubmit(photoPost.value)'>
            <div class="form-primary">
                <input class="form-input-grey" name="name" ngModel type="text" placeholder="Name">
                <input class="form-input-grey" name="imgURL" ngModel type="text" placeholder="imgURL">
                <input class="form-input-grey" name="description" ngModel type="text" placeholder="Description">
            </div>
            <button type="submit" class="btn">SEND</button>
        </form>
    </div>
</div>