<main class="photos-main">

    <div class="main__header fadeIn">
        <h1 name="top">PHOTO GALLERY</h1>
    </div>
    <div class="main__container slideInFromBottom">
        <app-photo *ngFor='let item of allPhotos;let i =index' [photo]='item' [index]='i'></app-photo>

        <div class="main__container-gallery">
            <div class="main__container-gallery-item">
                <div class="main__container-gallery-item-add">
                    <a *ngIf='isLoggedIn' routerLink='add' class="btn-primary btn"><span>&#43;</span> Add more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main__footer">
        <a class="main__footer-back" href="#top"><i class="fas fa-chevron-circle-up fa-3x"></i></a>
    </div>
</main>