.btn-primary {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: $primary-300;
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-size: 20px;
}