@import '../../assets/styles/settings/settings-breakpoints';
@import '../../assets/styles/settings/settings-colors';

.main-projects {
    background-color: black;
    padding: 0;

    &-container {
        padding: 100px 0 100px 0;
        width: 90%;
        display: grid;
        grid-template-rows: auto;
        margin: 0 auto;
        row-gap: 130px;
    }
}

.btn-primary {
    margin: 0 auto;
}