<main class="home-main">
    <div class="home-main-header fadeIn">
        <h1>GABRIELA POMETKOVA</h1>
    </div>
    <div class="home-main-content fadeIn">

        <div class="home-main-content-box home-main-content-box-photos" style="background: url({{photo?.imgURL}}); background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.8;
        height: 440px;">
            <div class="home-main-content-box-photos-hover">
                <i class="far fa-images fa-4x home-main-content-box-photos-hover-img"></i>
                <a class="home-main-content-box-hover-cta main-link" routerLink='photos'>Check all photos</a>
                <a class="btn-primary btn" *ngIf='isLoggedIn' routerLink='photos/edit'>Change
                    photo</a>
            </div>
        </div>

        <div class="home-main-content-box home-main-content-box-photos" style="background: url({{film?.imgURL}}); background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.8;
        height: 440px;">
            <div class="home-main-content-box-photos-hover">
                <i class="far fa-images fa-4x home-main-content-box-photos-hover-img"></i>
                <a class="home-main-content-box-hover-cta main-link" routerLink='photos'>Check all photos</a>
                <a class="btn-primary btn" *ngIf='isLoggedIn' routerLink='photos/edit'>Change
                    photo</a>
            </div>
        </div>

        <!-- <div class="home-main-content-box home-main-content-box-videos">
            <video #video class="main-projects-container-project-video-video" src="{{film?.imgURL}}"
                poster="{{film?.imgURL}}" loop autoplay [muted]="'muted'"></video>
            <div class="home-main-content-box-videos-hover">
                <i class="fas fa-video fa-3x home-main-content-box-videos-hover-img"></i>
                <a class="home-main-content-box-hover-cta main-link" routerLink='/films'>Check all films</a>
                <a class="btn-primary btn" *ngIf='isLoggedIn' routerLink='/films/edit'>Change
                    video</a>
            </div>
        </div> -->

    </div>
</main>