<main class="home-main">
    <div class="home-main-header fadeIn">
        <h1>GABRIELA POMETKOVA</h1>
    </div>
    <div class="home-main-content fadeIn">

        <div class="home-main-content-box home-main-content-box-photos">
            <div class="home-main-content-box-photos-hover">
                <i class="far fa-images fa-4x home-main-content-box-photos-hover-img"></i>
                <a class="home-main-content-box-hover-cta main-link" routerLink='photos'>Check all photos</a>
                <a class="btn-primary btn" routerLink='/change/photo'>Change
                    photo</a>
            </div>
        </div>

        <div (mouseover)="play(video)" (mouseout)='pause(video)'
            class="home-main-content-box home-main-content-box-videos">
            <video #video width="150%" height="200%" class="home-main-content-box-videos-video" [muted]="'muted'" loop
                id="myVideo">
                <source src="assets/video/Pulp Fiction (1994) in 10 seconds (online-video-cutter.com).mp4"
                    type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <div class="home-main-content-box-videos-hover">
                <i class="fas fa-video fa-3x home-main-content-box-videos-hover-img"></i>
                <a class="home-main-content-box-hover-cta main-link" routerLink='/films'>Check all films</a>
                <a class="btn-primary btn" *ngIf='isLoggedIn' routerLink='/change/video'>Change
                    video</a>
            </div>
        </div>

    </div>
</main>