<div class="main-projects-container-project slideInFromLeft">
    <div class="main-projects-container-project-video">
        <video class="main-projects-container-project-video-video" src="{{film.imgUrl}}" loop autoplay muted></video>
    </div>
    <div class="main-projects-container-project-info">
        <div class="main-projects-container-project-info-title">
            <p>Movie Title: <span>{{film.title}}</span></p>
        </div>
        <div class="main-projects-container-project-info-role">
            <p>My Role: <span>{{film.role}}</span></p>
        </div>
        <div class="main-projects-container-project-info-movieInfo">
            <p>{{film.description}}</p>
        </div>
        <div>
            <a *ngIf='isLoggedIn' routerLink='edit/{{index}}' class="btn-primary btn">Edit</a>
            <a *ngIf='isLoggedIn' (click)='removeFilm(index)' class="btn-primary btn delete">Delete</a>
        </div>
    </div>
</div>